# Environments and packages
.venv/
env/
venv/
ENV/
Pipfile.lock

# Python artifacts
*.pyc
__pycache__/
*.pyo
*.pyd

# Django specific
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
listing_photos/
hostel_profiles/
agent_profiles/
landlord_profiles/

# Secrets and configuration
.env

# IDEs and Editors
.vscode/
.idea/
.DS_Store
